.container{
    margin: 0 auto;
}
#primeContainer {
    position: absolute;
    border: solid 1px black;
    height: 300px;
    top: 100px;
    width: 580px;
}

.conteDiv{
    position: absolute;
    top:7px;
}

#status{
    background: cadetblue;
    position: absolute;
    top:440px;
}
#geolocationButton{
    position: absolute;
    left: 600px;
    top:20px;
    padding: 10px;
    border: 2px solid black;
}
#geolocation{
    position: absolute;
    left: 600px;
    margin: auto;
    top:75px;
    width: fit-content;
}
#mapSurface{
   position: absolute;
    left: 600px;
    top:120px;
    width: 600px;
    height: 400px;
}
button{
    border-radius: 10px;
    background-color: indianred;
}